MONGODB_URI=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://clawinstaller.xyz
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_TIER1=
STRIPE_PRICE_TIER2=
STRIPE_PRICE_TIER3=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
GCP_PROJECT_ID=
GCP_ZONE=us-central1-c
GCP_SERVICE_ACCOUNT_KEY=
GCP_BASE_IMAGE=
